.container{
    flex: 19;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button{
    flex: 1;
}
